<aside class="sidebar dark:bg-[#141414] dark:border-r-[#272727]" [class.collapsed]="collapsed" [class.mobile-open]="mobileOpen">

  <!-- Header: Logo -->
  <div class="sidebar-header ">
    <div class="logo-wrapper">
      <img src="/icons/citamed-logo.svg" class="logo-img" alt="CitaMed" />
    </div>
    <button class="mobile-close-btn" (click)="mobileClose.emit()">
      <i class="pi pi-times"></i>
    </button>
  </div>

  <!-- Navigation -->
  <nav class="sidebar-nav">

    <!-- Secciones -->
    @for (section of navSections; track section.title) {
      <div class="nav-section">
        <span class="section-label">{{ section.title }}</span>
        @for (item of section.items; track item.route) {
          <a
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            class="nav-item"
            [pTooltip]="item.label"
            tooltipPosition="right"
            (click)="mobileOpen && mobileClose.emit()"
          >
            <span class="item-icon-wrap"><i [class]="item.icon"></i></span>
            <span class="item-label">{{ item.label }}</span>
          </a>
        }
      </div>
    }

  </nav>

  <!-- User Profile Footer -->
  <div class="sidebar-footer">
    <div class="user-profile">
      <p-avatar [label]="initials" shape="circle" styleClass="sidebar-avatar" />
      <div class="user-info">
        <span class="user-name">{{ displayName }}</span>
        <span class="user-role">{{ displayRole }}</span>
      </div>
    </div>
  </div>

</aside>
